---
// https://docs.astro.build/en/core-concepts/layouts/
import MainHead from "@components/MainHead.astro"
import Nav from "@components/Nav.astro"
import Footer from "@components/Footer.astro"
const BASE = import.meta.env.BASE_URL
const BG_VER = 'v2'
const bgCSS = `:root {\n  --bg-gradient: linear-gradient(transparent, transparent);\n  --bg-aspect-ratio: calc(var(--bg-image-aspect-ratio) / var(--bg-scale));\n  --bg-blend-mode: darken;\n  --bg-gradient-size: calc(var(--bg-scale) * 125%);\n  --bg-image-aspect-ratio: 2.25;\n  --bg-image-main-curves: url(${BASE}images/backgrounds/bg-main-light.svg?${BG_VER});\n  --bg-image-main: url(${BASE}images/backgrounds/bg-main-light-800w.jpg?${BG_VER});\n  --bg-scale: 1.68;\n  --bg-svg-blend-mode: overlay;\n}\n:root.theme-dark {\n  --bg-blend-mode: lighten;\n  --bg-image-main-curves: url(${BASE}images/backgrounds/bg-main-dark.svg?${BG_VER});\n  --bg-image-main: url(${BASE}images/backgrounds/bg-main-dark-800w.jpg?${BG_VER});\n  --bg-svg-blend-mode: darken;\n}\n@media (min-width: 50em) {\n  :root {\n    --bg-image-main: url(${BASE}images/backgrounds/bg-main-light-1440w.jpg?${BG_VER});\n    --bg-scale: 1;\n  }\n  :root.theme-dark {\n    --bg-image-main: url(${BASE}images/backgrounds/bg-main-dark-1440w.jpg?${BG_VER});\n  }\n}\n.backgrounds {\n  min-height: 100%;\n  isolation: isolate;\n  background: var(--bg-image-main-curves) top center/var(--bg-gradient-size) no-repeat, var(--bg-image-main) top center/var(--bg-gradient-size) no-repeat, var(--gray-999);\n  background-blend-mode: var(--bg-svg-blend-mode), normal, normal;\n}\n@media (forced-colors: active) {\n  .backgrounds {\n    background: none;\n    background-blend-mode: none;\n    --bg-gradient-size: none;\n  }\n}`

interface Props {
  title?: string | undefined
  description?: string | undefined
}

const { title, description } = Astro.props
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body>
    <div class="stack backgrounds">
      <Nav />
      <slot />
      <Footer />
    </div>

    <script>
      // Add “loaded” class once the document has completely loaded.
      addEventListener("load", () =>
        document.documentElement.classList.add("loaded"),
      )
    </script>

    <style set:html={bgCSS} />
  </body>
</html>
